---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$background-color: #faf2f0 !default;
$text-color: #5C2B1F !default;
$muted-text-color: #c0521f !default;
$primary-color: #EBE1CD !default;
$border-color: mix(#fff, #f0e7d4, 75%) !default;
$footer-background-color: #faf2f0 !default;
$link-color: #b89694 !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Courier Prime:wght@400;700&display=swap');
