---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$background-color: #FEE9D6 !default;
$text-color: #BB674E !default;
$muted-text-color: #BB674E !default;
$primary-color: #BB674E !default;
$border-color: mix(#fff, #BB674E, 75%) !default;
$footer-background-color: #BB674E !default;
$link-color: #BB674E !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
